*/__pycache__/*
*.pyc
cache_dir/
.locks/
models--*/
*.egg-info/
.vscode/
data/
llava/eval/gqa/
*.zip
llava/eval/llava-bench-in-the-wild/
llava/eval/mm-vet/
llava/eval/mmbench/
llava/eval/MME/
llava/eval/pope/
llava/eval/scienceqa/
llava/eval/seed_bench/
llava/eval/textvqa/
llava/eval/vizwiz/
llava/eval/vqav2/
